<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Profiles</h1>

    <div class="profiles">

        <div class="pbox">
            <img src={{user.avatar}}/>
            {{user.name}} <br>
            {{user.city}}, {{user.country}}, {{user.job}}, {{company}} <br>
            {{user.email}}, {{user.phone}}<br>
            Education: {{user.university}}<br>
            Skills: {{user.skills}}
        </div>
    </div>    
        <script src="./main.js"></script>
</body>

</html>