<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <link rel="stylesheet" href="/profile.css">
   
</head>

<body>
    <h1>Profile</h1>

    <div class="profiles">

        <div class="pbox">
        {{#data}}
            <img src="{{avatar}}"/>

            <h2>{{name}}</h2> <br>
            <span>{{address.city}} {{address.country}} | {{job}} {{company}}</span><br>
            {{email}}, {{phone}}<br>
            Education: {{university}}<br>
            Skills: {{skills}}
        </div>
        {{/data}}
    </div>    
        <script src="./main.js"></script>
</body>

</html>