body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 90px;
    font-weight: lighter;
}

.profiles {
    display: flex;
    justify-content: center;
    line-height: 1.8;
}

img {
    border: solid lightblue;
    border-radius: 50%;
    background-color: white;
}